<h1>Ideas</h1>

<div id="ideas-container">
  <!-- <%= @ideas.each do |idea| %>
    <div class="idea">
      <span class="title">
        <%= idea.title %>
      </span>
      <p class="body">
        <%= idea.body %>
      </p>
      <span>
        <%= idea.quality %>
      </span>
    </div>
  <% end %>   -->
</div>
